
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset='utf-8' />
		<meta http-equiv="X-UA-Compatible" content="chrome=1" />
		<meta name="viewport" content="width=device-width">

		<!-- <link rel="stylesheet" type="text/css" media="screen" href="/css/stylesheet.css"> -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

		<!-- syntax highlighting CSS -->
		<link rel="stylesheet" href="/css/syntax.css">

		<!-- Custom CSS -->
		<link rel="stylesheet" href="/css/main.css">
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->

		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

		<title>{{ page.title }}</title>

		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-46191138-1', 'fliglio.com');
			ga('send', 'pageview');

		</script>
	</head>

	<body>
		<!-- add goes here -->
		<!-- HEADER -->
		<div class="navbar navbar-inverse navbar-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">{{ site.name }}</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/about">about</a></li>
					</ul>
				</div>
			</div>
		</div>


		<div class="container">
			<div class="row row-offcanvas row-offcanvas-right">

				<div class="col-xs-12 col-sm-9">
					<p class="pull-right visible-xs">
						<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
					</p>
				
					{{ content }}
					
				</div>

				<!-- MAIN NAV -->
				<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">

					<div class="sidebar-module">

						<!-- icons: https://github.com/danleech/simpleicons -->
						<ul class="share-icons">
							<li><a class="share-icon rss" href="/feed.xml"><img src="/images/rss-32.png" alt="rss"/></a></li>
							<li><a class="share-icon twitter" target="_blank" href="http://www.twitter.com/benhschwartz"><img src="/images/twitter-32.png" alt="twitter"/></a></li>
							<li><a class="share-icon github" target="_blank" href="http://www.github.com/benschw"><img src="/images/github-32.png" alt="github"/></a></li>
							<li><a class="share-icon email" href="mailto:benschw@gmail.com"><img src="/images/email-32.png" alt="email"/></a></li>
						</ul>
						<div style="clear:both"></div>
					</div>

					<div class="sidebar-module sidebar-module-inset">
						<ul id="posts-nav">
							{% for post in site.posts limit:10 %}
								<li><a href="{{ post.url }}">{{ post.title }}</a></li>
							{% endfor %}
								<li><a href="/all-posts">more...</a></li>
						</ul>
					</div>


					<div class="sidebar-module">

						<!-- Twitter -->
						<a href="https://twitter.com/benhschwartz" class="twitter-follow-button" data-show-count="true">Follow</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

						<br /><br />

						<!-- Github -->
						<iframe src="http://ghbtns.com/github-btn.html?user=benschw&type=follow&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe>
					</div>

					<div class="sidebar-module">

						<!-- Adsense -->
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- txt.fliglio-2 -->
						<ins class="adsbygoogle"
						     style="display:inline-block;width:250px;height:250px"
						     data-ad-client="ca-pub-6571676266096984"
						     data-ad-slot="5166098950"></ins>
						<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
						</script>					
					</div>

				</div><!--/span-->
			</div>

		</div>
		<!-- FOOTER  -->
		<footer>

			<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
				<img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/4.0/80x15.png" />
			</a>
			<br />
			<p>
				This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>
				by <a href="https://plus.google.com/106367727355341421523?rel=author">Ben Schwartz</a>
			</p>
			<p>
				<a href="#">Back to top</a>
			</p>
		</footer>



		<script>
		$(document).ready(function() {
			$('[data-toggle=offcanvas]').click(function() {
				$('.row-offcanvas').toggleClass('active');
			});
		});
		</script>

		<!-- Quantcast Tag -->
		<script type="text/javascript">
		var _qevents = _qevents || [];

		(function() {
		var elem = document.createElement('script');
		elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
		elem.async = true;
		elem.type = "text/javascript";
		var scpt = document.getElementsByTagName('script')[0];
		scpt.parentNode.insertBefore(elem, scpt);
		})();

		_qevents.push({
		qacct:"p-aPHGQwmf5y8HZ"
		});
		</script>

		<noscript>
		<div style="display:none;">
		<img src="//pixel.quantserve.com/pixel/p-aPHGQwmf5y8HZ.gif" border="0" height="1" width="1" alt="Quantcast"/>
		</div>
		</noscript>
		<!-- End Quantcast tag -->
	</body>
</html>
